In [28]:
import pandas as pd

In [29]:
data = pd.read_csv('C:/Users/HARINI/Downloads/Redbus.csv')

In [30]:
data

,state,route_name,route_link,busname,bustype,departing_time,duration,reaching_time,star_rating,price,seats_available
0,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:05,06h 55m,06:00,4.6,689.0,20.0
1,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,AC Sleeper (2+1),23:50,06h 10m,06:00,4.6,999.0,14.0
2,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:20,06h 50m,06:10,4.6,598.0,19.0
3,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdIntrCity SmartBus,NaN,23:05,06h 55m,06:00,4.5,489.0,26.0
4,Andhra Pradesh,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,FRESHBUS,Electric A/C Seater (2+2),23:25,06h 10m,05:35,4.7,294.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...
1805,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,JKRTC - 178990,NON A/C Seater (2+3),17:30,12h 00m,05:30,3.5,828.0,42.0
1806,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,12h 40m,09:30,4.4,628.0,22.0
1807,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),17:45,12h 15m,06:00,4.3,630.0,10.0
1808,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,City Land Travels,A/C Seater/Sleeper (2+1),20:30,12h 30m,09:00,3.6,540.0,26.0
1809,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,12h 55m,08:55,4.0,899.0,11.0

In [31]:
data.isna().sum()

state               0
route_name          0
route_link          0
busname             0
bustype             4
departing_time      0
duration            0
reaching_time       0
star_rating        15
price               0
seats_available     2
dtype: int64

In [44]:
data['bustype'] = data['bustype'].fillna(data['bustype'].mode()[0])

In [34]:
data['star_rating']=data['star_rating'].fillna(data['star_rating'].median())
data['seats_available']=data['seats_available'].fillna(data['seats_available'].median())

In [45]:
data.isna().sum()

state              0
route_name         0
route_link         0
busname            0
bustype            0
departing_time     0
duration           0
reaching_time      0
star_rating        0
price              0
seats_available    0
dtype: int64

In [46]:
data

,state,route_name,route_link,busname,bustype,departing_time,duration,reaching_time,star_rating,price,seats_available
0,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:05,06h 55m,06:00,4.6,689.0,20.0
1,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,AC Sleeper (2+1),23:50,06h 10m,06:00,4.6,999.0,14.0
2,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:20,06h 50m,06:10,4.6,598.0,19.0
3,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdIntrCity SmartBus,Ordinary 3+2 Non AC Seater,23:05,06h 55m,06:00,4.5,489.0,26.0
4,Andhra Pradesh,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,FRESHBUS,Electric A/C Seater (2+2),23:25,06h 10m,05:35,4.7,294.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...
1805,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,JKRTC - 178990,NON A/C Seater (2+3),17:30,12h 00m,05:30,3.5,828.0,42.0
1806,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,12h 40m,09:30,4.4,628.0,22.0
1807,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),17:45,12h 15m,06:00,4.3,630.0,10.0
1808,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,City Land Travels,A/C Seater/Sleeper (2+1),20:30,12h 30m,09:00,3.6,540.0,26.0
1809,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,12h 55m,08:55,4.0,899.0,11.0

In [48]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
)

cursor = conn.cursor()
cursor.execute("CREATE DATABASE redbus_data")
print("Database created successfully!")

Database created successfully!

In [53]:
cursor.execute("""CREATE TABLE redbus_data.busdetail (
    state VARCHAR(100),
    route_name VARCHAR(255),
    route_link TEXT,
    busname VARCHAR(255),
    bustype VARCHAR(255),
    departing_time TEXT,
    duration VARCHAR(50),
    reaching_time text,
    star_rating DECIMAL(2,1),
    price DECIMAL(10,2),
    seats_available INT
);""")
conn.commit()

In [55]:
for i,row in data.iterrows():
    insert_query = """insert into redbus_data.busdetail(state,route_name,route_link,busname,bustype,departing_time,duration,reaching_time,
                       star_rating,price,seats_available)values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
    values = (row['state'],row['route_name'],row['route_link'],row['busname'],row['bustype'],row['departing_time'],row['duration'],
              row['reaching_time'],row['star_rating'],row['price'],row['seats_available'])
    cursor.execute(insert_query,values)
    conn.commit()

In [57]:
cursor.execute("SELECT * FROM redbus_data.busdetail")
data = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
table = pd.DataFrame(data, columns=columns)

In [58]:
table

,state,route_name,route_link,busname,bustype,departing_time,duration,reaching_time,star_rating,price,seats_available
0,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:05,06h 55m,06:00,4.6,689.00,20
1,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:05,06h 55m,06:00,4.6,689.00,20
2,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,AC Sleeper (2+1),23:50,06h 10m,06:00,4.6,999.00,14
3,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:20,06h 50m,06:10,4.6,598.00,19
4,Andhra Pradesh,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdIntrCity SmartBus,Ordinary 3+2 Non AC Seater,23:05,06h 55m,06:00,4.5,489.00,26
...,...,...,...,...,...,...,...,...,...,...,...
1806,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,JKRTC - 178990,NON A/C Seater (2+3),17:30,12h 00m,05:30,3.5,828.00,42
1807,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:50,12h 40m,09:30,4.4,628.00,22
1808,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),17:45,12h 15m,06:00,4.3,630.00,10
1809,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,City Land Travels,A/C Seater/Sleeper (2+1),20:30,12h 30m,09:00,3.6,540.00,26
1810,Jammu Kashmir,Jammu (j and k) to Haridwar,https://www.redbus.in/bus-tickets/jammu-to-har...,SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.),VE A/C Seater / Sleeper (2+1),20:00,12h 55m,08:55,4.0,899.00,11

In [59]:
table.dtypes

state              object
route_name         object
route_link         object
busname            object
bustype            object
departing_time     object
duration           object
reaching_time      object
star_rating        object
price              object
seats_available     int64
dtype: object

In [66]:
table.groupby('route_name')['busname'].value_counts()

route_name                   busname
Agra to Motihari             Shree Balajee Travels And Cargo                      2
                             Maa kali Travels                                     1
                             Panwar Travels                                       1
Amritsar to Jammu (j and k)  Bhawani Travels                                      3
                             AdNew Pal Travels                                    1
                                                                                 ..
Yamuna Nagar to Chandigarh   Chandigarh Transport Undertaking (CTU) - 165752      1
                             City Land Travels                                    1
                             Kohli Tour & Travellers                              1
                             SHRI KRISHNA TRAVELS (JAI SHREE GANESH YATRA CO.)    1
                             Zimindara Travels                                    1
Name: count, Length: 1509, dtype: int64

In [67]:
statelist = table["state"].unique().tolist()
statelist

['Andhra Pradesh',
 'Kerala',
 'Telangana',
 'Goa',
 'Himachal Pradesh',
 'Assam',
 'Chandigarh',
 'Bihar',
 'West Bengal',
 'Sowth Bengal',
 'Jammu Kashmir']

In [68]:
routes = table[table["state"] == 'Andhra Pradesh']["route_name"].unique().tolist()
routes

['Hyderabad to Vijayawada',
 'Vijayawada to Hyderabad',
 'Bangalore to Tirupati',
 'Bangalore to Kadapa',
 'Kakinada to Visakhapatnam',
 'Ongole to Hyderabad',
 'Bangalore to Anantapur (andhra pradesh)',
 'Bangalore to Chittoor (Andhra Pradesh)',
 'Chittoor (Andhra Pradesh) to Bangalore',
 'Hyderabad to Guntur (Andhra Pradesh)',
 'Vijayawada to Visakhapatnam',
 'Hyderabad to Narasaraopet',
 'Kadapa to Bangalore',
 'Narasaraopet to Hyderabad',
 'Visakhapatnam to Kakinada',
 'Bangalore to Kadiri',
 'Bangalore to Madanapalli',
 'Madanapalli to Bangalore',
 'Anantapur (andhra pradesh) to Bangalore',
 'Hyderabad to Kurnool',
 'Hyderabad to Vinukonda',
 'Rajahmundry to Visakhapatnam',
 'Hyderabad to Eluru',
 'Guntur (Andhra Pradesh) to Hyderabad',
 'Hyderabad to Macherla (andhra pradesh)',
 'Bangalore to Rayachoti',
 'Hyderabad to Nandyal',
 'Eluru to Hyderabad',
 'Tirupati to Bangalore',
 'Vinukonda to Hyderabad',
 'Hyderabad to Anantapur (andhra pradesh)',
 'Hyderabad to Markapuram',
 'Bangalore to Nellore',
 'Macherla (andhra pradesh) to Hyderabad',
 'Kadiri to Bangalore',
 'Nandyal to Hyderabad',
 'Chennai to Tirupati',
 'Hyderabad to Rajahmundry',
 'Rayachoti to Bangalore',
 'Hyderabad to Addanki',
 'Chilakaluripet to Hyderabad',
 'Visakhapatnam to Vijayawada',
 'Rajahmundry to Hyderabad',
 'Hyderabad to Chilakaluripet',
 'Visakhapatnam to Rajahmundry',
 'Bangalore to Kurnool',
 'Vijayawada to Kurnool',
 'Vijayawada to Rajahmundry',
 'Hyderabad to Kanigiri']

In [71]:
# Example user-defined filters
route_selected = "Chennai to Bangalore"
rating = 3.5
max_price = 1000
seats = 2
filtered_buses = table[
                    (table["route_name"] == route_selected) &
                    (table["star_rating"] >= rating) &
                    (table["price"] <= max_price) &
                    (table["seats_available"] >= seats)
                ]

In [72]:
conn.close()